h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Allura', cursive;
    font-weight: bolder;
    font-size: 75px;
    color: whitesmoke;
    padding: 20px
}

form {
    width: 50%;
    margin-left: 25%;
    color: #2a2626;
    font-size: 20px;
    font-weight: 700;
    padding-top: 4rem;
}

.form-control {
    background: #f9f1e9f0;
}

@media screen and (max-width: 600px) {
    .column.middle {
      width: 100%;
    }
    .column.side {
        display: none;
    }
    form {
        padding-top: 0px;
        padding-bottom: 125px;
        width: 95%;
        margin-left: 1rem;
    
    }
    .container form {
        justify-content: center;
        align-items: center;
    }
  }