/* h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Allura', cursive;
    font-weight: bolder;
    font-size: 75px;
    color: whitesmoke;
    padding: 20px
} */

h5 {
    font-size: 30px;
}

/* do wygaszenia .cards */

/* .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    background-color: #ffffff22;
  } */


  
  /* .card {
      max-width: 90%!important;
      width: 90%;;
  } */
  
  small {
      margin-right: 5px!important;
  }

.box1 {
    color: black;
    font-weight: bolder;
}

.bcg-card {
    background-color: transparent!important;
  }

.card-body {
    color: black;
    font-weight: 600;
  }

  .meal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


hr {
    opacity: 1.5!important;
    margin-bottom: -15px!important;
}

hr:not([size]) {
    height: 2px;
}

  .mealDesc {
    color: #504949;
    font-size: 17px;
  }

  /* span {
    color: black;
    font-size: 20px;
  } */
 
