body {
    margin: 0;
  }
  
  .container-fluid {
    padding: 0!important;
  }

.row {
min-height: 90vh;
}

.row::after {
    content: "";
    display: table;
    clear: both;}

.column {
    background-color: #c1aa94a1;
  }
  
  /* Left and right column */
.column.side, .column.left-side {
    background-color: #c1aa94a1;
    width: 25%;
    font-family: 'Allura', cursive;
    font-size: 3rem;
    font-weight: 500;
    padding-top: 50px;
    ;
  }
  
  /* Middle column */
.column.middle {
    width: 50%;
    background-image: url(img/textile-2918844_1280.jpeg); 
    justify-content: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.middle, .column.side {
        width: 100%;
    }
    .column.side {
        padding-top: 2rem;
        width: 100%;
    }
    /* /* .column.side .boxes {
        font-size: 2.4rem;
        display: flex;
        justify-content: center;
        gap: 20px;
    } */
    /* .boxes .box1 {
        margin-top: 30px;
    } */
    .column.left-side {
     display: none;}
    /* }
    h2 {
        font-size: 80px!important;
    } */
    .row {
        flex-direction: column-reverse;
        height: auto;
    }
    /* #daily-menu-card{
        width: 95%;
        margin-left: 2.5%;
    }
    .card{
    max-width: 100%!important;
    width: 100%;} */ 
  }

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Allura', cursive;
    font-weight: bolder;
    font-size: 150px;
    color: whitesmoke;
    padding: 20px
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Allura', cursive;
    font-weight: bolder;
    font-size: 75px;
    color: whitesmoke;
    padding: 20px
}

.boxes {
    font-family: 'Allura', cursive;
    font-size: 3rem;
    font-weight: 500;
    text-align: center; 
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(63, 62, 62);
}

a:hover {
    color: black;
    font-weight: bolder;
}

.tel {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 50px;
}

/* Footer */
.footer {
    padding: 3vh;
    text-align: center;
    background: #c1aa94a1;;
    margin-top: 0;
  }

  #cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    background-color: #ffffff22;
  }

  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    background-color: #ffffff22;
  }


  .daily-menu-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
  }

  .card {
    max-width: 90%!important;
    width: 90%;
    margin: 5%;
}

h5 {
    font-size: 30px;
}

small {
    margin-right: 5px!important;
}

.bcg-card {
    background-color: transparent!important;
  }

.card-body {
    color: black;
    font-weight: 600;
  }

  .meal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  .mealName {
    font-size: 25px;
    margin-bottom: 1px;
  }

  .mealSeparator {
    flex-grow: 1;
    height: 1px;
    background-color: #504949;
    margin: 0 8px; 
}

hr {
    opacity: 1.5!important;
    margin-bottom: -15px!important;
}

hr:not([size]) {
    height: 2px;
}

  .mealDesc {
    color: #504949;
    font-size: 17px;
  }

  span {
    color: black;
    font-size: 20px;
  }

  @keyframes heartbeat {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

/* .text-footer p {
    font-size: small!important;

}

.copyright-content {
    border-top: 1px solid #d5d4e9;
    padding: 15px 0;
    margin: 45px 0 0px;
} */

.heartbeat {
    animation: heartbeat 2.5s infinite; 
    }






